


  /*  * {
  box-sizing: border-box;
 } */

.container {
  width: auto;
  height: auto;
  vertical-align: middle;
}
.wrapper{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
 
}

.card {
  margin: 5px;
  height: 90px;
  width: 90px;
  background: #00796b;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;

}
.card:hover {
  cursor: pointer;
  border: 3px solid blue;
}
.card img {
   height: 90px;
  width: 90px; 
}
.hide {
  opacity: 0;
}

.btn1 {
      border-radius: 8px;
      font-size: 15px;
      color: white;
      text-align: center;
      background-color: #00c853;
      font-family:"Comic Sans MS", cursive, sans-serif; 
    }
  
  .btn2 {
      border-radius: 8px;
      color: white;
      font-size: 15px;
      text-align: center;
      background-color: #b71c1c;
      font-family:"Comic Sans MS", cursive, sans-serif; 
    }

  body
{
  background-color:#81c784;
} 


   .modal-header
   {
    background-color: #43a047;
   font-family:"Comic Sans MS", cursive, sans-serif; 
   color:white;
   border-top-left-radius:20px;
   border-top-right-radius:20px
 }
   .modal-content
   {
  border-radius:22px;
  font-family:"Comic Sans MS", cursive, sans-serif;  
  color:#3e2723;
  }
   .modal-body{
    background-color: #75a478;
    font-family:"Comic Sans MS", cursive, sans-serif; 
  color:#3e2723; 
   }
   .modal-footer
   {
   background-color: #75a478;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
   } 