<html>
<head>
<link rel="stylesheet" type="text/css" href="procss.css">
</head>

<body>

<br>
<br>
<div ng-app="myApp" ng-controller="myCtrl_image">
<center>
<div>

	<br>
<br>
<br>

	<button ng-disabled="level_1" ng-click="level1()" class="bt">LEVEL 1</button>
	<button ng-disabled="level_2" ng-click="level2()" class="bt">LEVEL 2</button>
	<button ng-disabled="level_3" ng-click="level3()" class="bt">LEVEL 3</button>
	<button ng-disabled="level_4" ng-click="level4()" class="bt">LEVEL 4</button>
	<button ng-disabled="level_5" ng-click="level5()" class="bt">LEVEL 5</button>
	<br>
	<button ng-disabled="level_6" ng-click="level6()" class="bt">LEVEL 6</button>
	<button ng-disabled="level_7" ng-click="level7()" class="bt">LEVEL 7</button>
	<button ng-disabled="level_8" ng-click="level8()" class="bt">LEVEL 8</button>
	<button ng-disabled="level_9" ng-click="level9()" class="bt">LEVEL 9</button>
	<button ng-disabled="level_10" ng-click="level10()" class="bt">LEVEL 10</button>

<br><br>
	<button type="button" class="bt2" d>Go To Menu</button>
	
	</center>
</div>
</div>
</body>

</html>
