<html>
<head>
<link rel="stylesheet" type="text/css" href="procss.css">
</head>

<body>

<br>
<br>
<div ng-app="myApp" ng-controller="myCtrl_number">
<center>
	<h1>Numbers</h1>
<div>

	<br>
<br>
<br>

	<button ng-disabled="level_1" ng-click="level1()" ng-class="{true:'bt3', false:'bt'} [pqr1==2]">LEVEL 1</button>
	<button ng-disabled="level_2" ng-click="level2()" ng-class="{true:'bt3', false:'bt'} [pqr2==2]">LEVEL 2</button>
	<button ng-disabled="level_3" ng-click="level3()" ng-class="{true:'bt3', false:'bt'} [pqr3==2]">LEVEL 3</button>
	<button ng-disabled="level_4" ng-click="level4()" ng-class="{true:'bt3', false:'bt'} [pqr4==2]">LEVEL 4</button><br>
	<button ng-disabled="level_5" ng-click="level5()" ng-class="{true:'bt3', false:'bt'} [pqr5==2]">LEVEL 5</button>

	<button ng-disabled="level_6" ng-click="level6()" ng-class="{true:'bt3', false:'bt'} [pqr6==2]">LEVEL 6</button>
	<button ng-disabled="level_7" ng-click="level7()" ng-class="{true:'bt3', false:'bt'} [pqr7==2]">LEVEL 7</button>
	<button ng-disabled="level_8" ng-click="level8()" ng-class="{true:'bt3', false:'bt'} [pqr8==2]">LEVEL 8</button><br>
	<button ng-disabled="level_9" ng-click="level9()" ng-class="{true:'bt3', false:'bt'} [pqr9==2]">LEVEL 9</button>
	<button ng-disabled="level_10" ng-click="level10()" ng-class="{true:'bt3', false:'bt'} [pqr10==2]">LEVEL 10</button>

  <br><br>

	<button type="button" class="bt2" onclick="window.location.href='#/'">Go To Menu</button>
	</center>
	
</div>
</body>

</html>
